<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952078510289-6fg6gaeckg76dgtsn3f3n4rqvimb6jrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952078510289-6fg6gaeckg76dgtsn3f3n4rqvimb6jrl</string>
	<key>API_KEY</key>
	<string>AIzaSyCphhveU3y-2HEwMvvV4KouT0P8jH40_uw</string>
	<key>GCM_SENDER_ID</key>
	<string>952078510289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelpignitelab</string>
	<key>PROJECT_ID</key>
	<string>rockethelpignitelab</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelpignitelab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952078510289:ios:7b9d7e2e439e071782fdf0</string>
</dict>
</plist>